@import 'variables';
@import 'helpers';

html {
    font-size: $font-size;
}

body {
    font-family: $font-stack;
    font-size: 1.5rem;
    color: $color-grey;

    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
    background: $color-white;
}

main {
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

input {
    color: inherit;
}

.svg-icon {
    display: inline-block;
}

.container {
    max-width: $screen-large;
    margin: 0 auto;
    padding: 0 20px;
}

.button-primary{
    font-weight: 500;
    font-size: 1.3rem;
    background: $color-blue;
    color: #fff;
    padding: 8px 20px;
    border-radius: 0.4rem;
    outline: 0px;
}

@include SmallScreen {
    .container {
        padding: 0;
    }
}
