// Base colors
// --------------------------------------------------

$color-pink:        #ff0044;
$color-blue:        #5b8ced;
$color-black:       #292929;
$color-silver:      #ff0044;
$color-violet:      #322c59;

$color-grey:        #636363;
$color-darkgrey:    #363636;
$color-lightgrey:   #a8a8a8;
$color-white:       #f7f7f7;


// Base fonts
// --------------------------------------------------

$font-stack:       'Roboto', 'San Francisco', 'Helvetica Neue', Arial, sans-serif;
$font-size:        10px;
$font-size-btn:    1.3rem;


// Z-index milestones
// --------------------------------------------------

$z-floor:         1;

$z-layer-10:      10;
$z-layer-20:      20;
$z-layer-30:      30;
$z-layer-40:      40;
$z-layer-50:      50;


// main-widths
// --------------------------------------------------

$width-desktop:   1350px;
