

// Base colors
// --------------------------------------------------

$color-pink:        #ff0044;
$color-blue:        #5b8ced;
$color-black:       #292929;
$color-silver:      #ff0044;
$color-violet:      #322c59;

$color-grey:        #636363;
$color-darkgrey:    #363636;
$color-lightgrey:   #a8a8a8;
$color-white:       #f7f7f7;


// Base fonts
// --------------------------------------------------

$font-stack:        'Roboto', 'San Francisco', 'Helvetica Neue', Arial, sans-serif;
$font-size:         10px;
$font-size-btn:     1.3rem;


// Z-index milestones
// --------------------------------------------------

$z-floor:           1;

$z-layer-10:        10;
$z-layer-20:        20;
$z-layer-30:        30;
$z-layer-40:        40;
$z-layer-50:        50;


// Screen sizes
// --------------------------------------------------

$screen-small:      768px;
$screen-medium:     992px;
$screen-large:      1350px;
$screen-xlarge:     1700px;


// Animation motion types
// --------------------------------------------------

$motion-slow-end:   cubic-bezier(.12,.49,.32,.98);
$motion-slow-start: cubic-bezier(.7,.01,1,.71);

// Other variables
// --------------------------------------------------

$menu-offset-size: 250px;
