@import '../base';
card-list {
    display: block;
    position: relative;
    z-index: $z-layer-10;
    max-width: $screen-large;
    margin: 25rem auto 0;
    padding: 0 2rem;
    loader{
        left: 0px;
        right:0px;
        margin: auto;
    }
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-list__card {
    width: 30%;
    margin-bottom: 5%;
    position: relative;

    .card-list__image {
        display: block;
        position:relative;
        border-radius: 0.4rem;
        box-shadow: 0 0.5rem 2.5rem rgba(0, 0, 0, 0.1);

        &:hover {

            &::after {
                opacity: 1;
            }
        }

        &::after {
            pointer-events: none;
            content: '';
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: 0.4rem;
            position: absolute;
            z-index: $z-layer-20;
            background: rgba(0,0,0,0.2);
            opacity: 0;

            transition: opacity 0.25s linear;
        }

        &::before {
            pointer-events: none;
            content: '';
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: 0.4rem;
            position: absolute;
            z-index: $z-layer-10;
            background: linear-gradient(-45deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.45));
        }

        img {
            width: 100%;
            border-radius: 0.4rem;
            display: block;
        }
    }

    .card-list__name {
        font-size: 1.5rem;
        font-weight: 500;
        margin: 1.5rem 0 0.5rem;
    }

    .card-list__url {
        font-size: 1.5rem;
        color: $color-lightgrey;
    }

    .card-list__details {
        @extend .button-primary;
        position: absolute;
        bottom: 0;
        right: 0;
        margin-bottom: 0.5rem;

        transition: background 0.2s linear;

        &:hover {
            background: saturate(darken($color-blue, 20%), 10%);
        }
    }
}

@include MediumScreen {
    .card-list__card {
        width: 48%;
    }
}

@include SmallScreen {
    .card-list__card {
        width: 100%;
        margin-bottom: 10%;

        .card-list__name {
            text-align: center;
            margin-top: 2rem;
        }

        .card-list__url {
            text-align: center;
        }

        .card-list__details {
            display: block;
            position: relative;
            margin-top: 2rem;
            padding: 1.4rem 3rem;
            text-align: center;
            font-size: 1.5rem;
        }
    }
}
