@import '../variables';
@import '../helpers';

top-bar {
    display: block;
    overflow: auto;
}

.top-bar {
    width: 100%;
    position: fixed;
    z-index: $z-floor;
    top: 0;
    left: 0;
    padding: 0 2rem;
    margin: 4rem auto;

    &.state--compact {
        min-width: 100%;
        max-width: 100%;
        left: 0;
        z-index: $z-layer-30;
        background: #fff;
        margin: 0;
        padding: 1.8rem 2rem;
        box-shadow: 0 0.5rem 1.2rem rgba(0, 0, 0, 0.06), 0 0.1rem 0 rgba(0, 0, 0, 0.03);
        opacity: 0;
        pointer-events: none;

        transition: opacity 0.2s linear;

        &.state--visible {
            opacity: 1;
            pointer-events: all;
        }

        .top-bar__landing {

            img {
                width: 74px;
                margin-top: -4px;
            }
        }
    }

    .container {
        display: flex;
    }

}

.top-bar__search-bar {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start !important;

    .svg-icon {
        width: 1.5rem;
        height: 1.5rem;
        fill: $color-violet;
        margin-right: 1rem;
    }

    input {
        border: none;
        background: transparent;
        font-size: 1.3rem;
        padding: 1rem 0;
        font-weight: 500;

        transition: box-shadow linear 0.2s;

        &:hover {
            box-shadow:0 0.2rem 0 $color-lightgrey;
        }

        &:focus {
            outline: none;
            box-shadow:0 0.2rem 0 $color-lightgrey;
        }
    }
}

.top-bar__landing {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

    img {
        margin-left: -3rem;
    }

    h1 {
        font-size: 1.9rem;
        font-weight: normal;
        margin-top: 3rem;
    }
}

.top-bar__right-menu {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.top-bar__link {
    font-size: 1.3rem;
    color: $color-violet;
    padding: 0.5rem;
    font-weight: 500;

    transition: box-shadow linear 0.2s;

    &:hover {
        box-shadow: 0 2px 0 $color-lightgrey;
    }

    &:not(:last-child) {
        margin-right: 5rem;
    }

    &.state--attention {
        color: $color-pink;
    }
}

.top-bar__mobile-trigger {
    display:none;
}

.top-bar__mobile-menu {
    display: none;
}

@include SmallScreen {
    .top-bar__search-bar {
        display: none !important;
    }

    .top-bar__right-menu {
        display: none !important;
    }

    .top-bar__mobile-trigger {
        position:absolute;
        display: block;
        margin-top: 4.2rem;

        .svg-icon {
            position: absolute;
            fill: $color-lightgrey;
            height: 20px;
            transform: rotate(45deg);
            opacity:0;

            transition: all 0.4s ease-in-out;

            &.active {
                transform: rotate(0deg);
                opacity:1;
            }
        }
    }

    .top-bar.state--compact {
        padding: 1.1rem 2rem;

        .top-bar__mobile-trigger {
            margin-top: 0.8rem;
        }
    }

    .top-bar__mobile-menu {
        opacity:0;
        z-index: $z-floor;
        display: block;
        position: fixed;
        top: 100px;
        left: 0;
        width: $menu-offset-size;
        padding: 0 0 0 2rem;

        .top-bar__search-bar {
            display: block !important;
        }

        .top-bar__link {
            display: block;
            font-size: 1.8rem;
            margin-top: 3rem;
            padding: 0;

            &:hover {
                box-shadow: none;
            }
        }
    }
}
